
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Vkart</title>
     <link rel="shortcut icon" href="./images/logo/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./stylesheets/landing.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>

<body>

     <div class="header-top">

          <div class="container">

               <ul class="header-social-container">

                    <li>
                         <a href="https://www.facebook.com/" class="social-link">
                              <ion-icon name="logo-facebook"></ion-icon>
                         </a>
                    </li>

                    <li>
                         <a href="" class="social-link">
                              <ion-icon name="logo-twitter"></ion-icon>
                         </a>
                    </li>

                    <li>
                         <a href="https://www.instagram.com/ class="social-link">
                              <ion-icon name="logo-instagram"></ion-icon>
                         </a>
                    </li>

                    <li>
                         <a href="https://www.linkedin.com/" class="social-link">
                              <ion-icon name="logo-linkedin"></ion-icon>
                         </a>
                    </li>

               </ul>

               <div class="header-alert-news">
                    <p>
                         <b>Free Shipping</b>
                         This Week Order Over - &#8377 55
                    </p>
               </div>

               <div class="header-top-actions">

                    <select name="currency">

                         <option value="usd">INR &#8377;</option>
                         <option value="eur">EUR &euro;</option>

                    </select>

                    <select name="language">

                         <option value="en-US">English</option>
                         <option value="es-ES">Espa&ntilde;ol</option>
                         <option value="fr">Fran&ccedil;ais</option>

                    </select>

               </div>

          </div>

     </div>

     <div class="header-main">

          <div class="container">

               <a href="#" class="header-logo">
                    <img src="./images/logo/logo.png" alt="Vkart's logo" width="120" height="36">
               </a>

               <div class="header-search-container">

                    <input type="search" name="search" class="search-field" placeholder="Enter your product name...">

                    <button class="search-btn">
                         <ion-icon name="search-outline"></ion-icon>
                    </button>

               </div>

               <div class="header-user-actions">
                    <button class="action-btn" id="loginButton">
                         <ion-icon name="person-outline"></ion-icon>
                     </button>

                    <button class="action-btn">
                         <ion-icon name="heart-outline"></ion-icon>
                         <span class="count">0</span>
                    </button>

                    <button class="action-btn">
                         <ion-icon name="bag-handle-outline"></ion-icon>
                         <span class="count">0</span>
                    </button>

               </div>

          </div>

     </div>
     <div id="cursor"></div>
     <duv id="cursorblur"></duv>
     <video autoplay loop muted src="./images/bgvideo5.mp4" id="myVideo">
          Your browser does not support the video tag.
     </video>
     <div id="main">
          <div id="page1">
               <h1>READ. LEARN. READ.</h1>
               <h2>WELCOME TO VKART BOOKS FAMILY! </h2>
               <P>Welcome to VKart Book Selling Platform, where we specialize in selling a wide variety of books for all
                    ages and interests.
                    Our collection includes bestsellers, classics, educational books, and much more to cater to every
                    reader's needs.</P>
          </div>
          <div id="page2">
               <div id="scroller">
                    <div id="scroller-in">
                         <h4>FICTIONAL FURIES</h4>
                         <h4>FANTASY FUNS</h4>
                         <h4>ACADEMIC AWES</h4>
                         <h4>COMPETITIVE COPS</h4>
                         <h4>EVERY GENRES</h4>
                    </div>
                    <div id="scroller-in">
                         <h4>FICTIONAL FURIES</h4>
                         <h4>FANTASY FUNS</h4>
                         <h4>ACADEMIC AWES</h4>
                         <h4>COMPETITIVE COPS</h4>
                         <h4>EVERY GENRES</h4>
                    </div>


               </div>
               <div id="about-us">
                    <img src="https://images.pexels.com/photos/5425687/pexels-photo-5425687.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load
                    " alt="">
                    <div id="about-us-in">
                         <h3>ABOUT US</h3>
                         <p>Welcome to VKart, your one-stop destination for all your book needs! We are a book selling
                              platform that offers a wide range of books for readers of all ages and interests. Whether
                              you are a bookworm looking for the latest bestsellers, a student in need of textbooks, or
                              a parent searching for children's books, VKart has got you covered. </p>
                    </div>
                    <img src="https://images.pexels.com/photos/5425686/pexels-photo-5425686.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
               </div>
               <div id="card-container">
                    <div class="card" id="card1">
                         <div class="overlay">
                              <h4>READ BOOKS</h4>
                              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id excepturi, porro animi
                                   minima
                                   odio aspernatur.</p>

                         </div>


                    </div>
                    <div class="card" id="card2">
                         <div class="overlay">
                              <h4>BOOKS ARE YOUR REAL FAMILY!</h4>
                              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id excepturi, porro animi
                                   minima
                                   odio aspernatur.</p>

                         </div>

                    </div>
                    <div class="card" id="card3">
                         <div class="overlay">
                              <h4>KNOWLEDGE OR WHAT!</h4>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id excepturi, porro animi
                                   minima
                                   odio aspernatur.</p>

                         </div>


                    </div>


               </div>

          </div>

     </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
          integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
          integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <script src="./javascripts/landing.js"></script>

     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

